<div class="user-options">
  <%= link_to 'Sign Out', logout_path, method: :delete %>
</div>
<h4>Create New Link</h4>

<div id="new-link">
  <label for="url">URL:</label>
  <input id="url" type="text">
  <label for="title">Title:</label>
  <input id="title" type="text">
  <input type="submit" value="Save" id="create-link" class="btn">
</div>
<div>
</div>

<h4>Filter By Title or URL</h4>
<div id="filter">
  <input type="text" id="link-filter" placeholder="Search">
</div>

<h4>All Links</h4>
<table class="table" id="link-list">
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Read</th>
    </tr>
  </thead>
  <tbody class='links'>
    <% current_user.links.each do |link| %>
      <%= render partial: 'shared/new_link', locals: {link: link}%>
    <% end %>
  </tbody>
</table>
